DATABASE_PATH="database/database.db"
SHARING_ENDPOINT=""
STORAGE="storage/"
PREVIEW_STORAGE="preview/"
TEMP_STORAGE="temp/"
HOST="127.0.0.1"
PORT="8000"
CHUNK_SIZE="8388608"
MAX_UPLOAD_SIZE="21474836480"
